.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f6f8;
  width: 100vw; /* ensure full width */
  overflow-x: hidden; /* prevent overflow scroll */
}

.content {
  flex-grow: 1;
  padding: 2rem;
  margin-top: 60px; /* offset for fixed navbar */
}
