.layout {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100vw; /* ensure full width */
  height: 100vh; /* ensure full height */
  overflow-x: hidden; /* prevent overflow scroll */
}

.content {
  margin-top: 60px; /* offset for fixed navbar */
}
